* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
nav ul li {
  list-style-type: none;
  text-decoration: none;
  margin-right: 16px;
}

.add-heroes {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
}
.add-heroes > * {
  height: 30px;
  padding: 5px;
}
